@import "tailwindcss";

:root {
  --background: #0e2795;
  --foreground: #ffffff;
  --button: #161616;
  --border: #f6f6f640;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e2795;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: clamp(2.3328rem, 1.7715rem + 2.8067vw, 3.9467rem);
  line-height: 1;
}
